node_modules
vendor
.git
.github
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.editorconfig
.gitattributes
.gitignore
phpunit.xml
tests
.cursor
.gemini
.vscode
*.md
!README.md
